{   "issues":["{{ issueKey }}"],
    "errorMessage": "Error when running playbook",
    "statusCode": "500",
    "data" : {
    "vm_id": "{{ hostvars['localhost'].next_resp.json.data | default('')}}"
    }
}