{   
    "issues":["{{ issueKey }}"],
    "errorMessage": null,
    "statusCode": "201",
    "data" : {
        "serverIp": "{{ proxmox_ip }}",
        "login_user": "{{ ssh_user }}",
        "login_password": "{{ ssh_password }}",
        "database_engine": "{{ db_engine | default('') }}",
        "database_engine_version": "{{ db_version | default('') }}",
        "database_username": "{{ database_username | default('') }}",
        "database_password": "{{ database_password | default('') }}",
        "confluence_database_name": "{{ confluence_database_name | default('') }}",
        "jsw_database_name": "{{ jsw_database_name | default('') }}",
        "jsm_database_name": "{{ jsm_database_name | default('') }}",
        "database_host": "{{ database_host | default('localhost') }}",
        {% if db_engine is defined %}
        "database_port": "{% if db_engine == 'mysql' %}3306{% elif db_engine == 'postgresql' %}5432{% endif %} | default('') ",
        {% endif %}
        "applications": {{ applications }},
        "vm_id": "{{ hostvars['localhost'].next_resp.json.data }}"
    }
}