{
   "domain_names": [
      "{{ register_domain }}"
   ],
   "forward_scheme": "{{ forward_scheme }}",
   "forward_domain_name": "{{ forward_host }}",
   "forward_http_code": {{ forward_http_code|int }},
   "preserve_path": 1,
   "certificate_id": 0,
   "meta": {
      "letsencrypt_agree": false,
      "dns_challenge": false
   },
   "advanced_config": "",
   "block_exploits": 0,
   "http2_support": 0,
   "hsts_enabled": 0,
   "hsts_subdomains": 0,
   "ssl_forced": 0
}
