{
    "errorMessage": null,
    "statusCode": "201",
    "data" : {
        "issues": "TEST-123",
        "register_domain": "{{ forward_scheme }}://{{ register_domain }}",
        "forward_host": "{{ forward_host }}"
    }
}