launch.application$Boolean=false
rmiPort$Long={{ jsw_server_port }}
app.jiraHome={{ jsw_home_dir }}
app.install.service$Boolean=true
# existingInstallationDir={{ jsw_installation_dir }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ jsw_installation_dir }}
executeLauncherAction$Boolean=false
httpPort$Long={{ jsw_connector_port }}
portChoice=default