terraform {
  required_providers {
    controltower = {
      source  = "idealo/controltower"
      version = "~> 1.0"
    }
  }
}

provider "controltower" {
  region = "ap-southeast-1"
}

resource "controltower_aws_account" "account" {
  name                = "{{ first_name }} {{ last_name }}"
  email               = "{{ root_email }}"
  organizational_unit = "{{ ou }}"

#   organizational_unit_on_delete = "Suspended"

  sso {
    first_name = "{{ first_name }}"
    last_name  = "{{ last_name }}"
    email      = "{{ email }}"
  }
}
